.card {
  max-width: 413px;
}

.card__title {
  margin: 0;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-button {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  width: 23px;
  border: none;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1.2;
    max-width: 250px;
  }

  .card__content {
    padding-bottom: 20px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
