.footer {
  background-color: #fcf5e5;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.footer__copyright {
  margin: 0;
  color: #212121;
  opacity: 70%;
}
