.modal {
  pointer-events: none;
  background: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.8s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  max-height: 408px;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 20px;
  background-color: transparent;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__tittle {
  width: 169px;
  height: 32px;
  font-size: 32px;
  margin: 0 0 32px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  display: block;
  width: 100%;
  max-height: 52px;
  margin: 8px 0 0px;
  border-radius: 8px;
  padding: 16px 12px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  opacity: 40%;
}

.modal__input:hover {
  opacity: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  gap: 8px;
  background-color: #212121;
  color: #fcf5e5;
  padding: 18px 32px;
  opacity: 100%;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .modal__tittle {
    font-size: 20px;
  }

  .modal__input {
    width: 276px;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__container {
    width: 300px;
    height: 336px;
    top: 134px;
    padding: 12px;
  }
}
