.profile {
  background-color: #fcf5e5;
  max-width: 1280px;
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.new_post__bttncontainer {
  display: flex;
  flex-grow: 1;
}

.new_post__bttncontainer {
  color: transparent;
  opacity: 100%;
}

.profile__picture {
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  max-width: 420px;
  height: 96px;
  margin: 0 0 12px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__text {
  margin: 0;
  max-width: 420px;
  height: 48px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.edit_profile__button {
  width: 107.34px;
  opacity: 0.7;
  color: #212121;
  background-color: transparent;
  border: none;
  margin-top: auto;
  height: 16px;
  opacity: 70%;
}

.edit_profile__button :hover {
  color: transparent;
  opacity: 100%;
}

.new_post__button {
  background-color: #212121;
  width: 157px;
  height: 52px;
  gap: 8px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  margin-top: auto;
  border-radius: 8px;
  padding: 18px 32px;
  margin-left: auto;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__picture {
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
    height: 60px;
  }

  .profile__text {
    margin: 0 0 32px;
    max-width: 288px;
    height: 48px;
  }
  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .edit_profile__button:hover {
    color: transparent;
    opacity: 100%;
  }

  .new_post__button {
    width: 100%;
  }

  .new_post__bttncontainer {
    width: 100%;
  }

  .new_post__bttncontainer :hover {
    color: transparent;
    opacity: 100%;
  }
}
